framework:
    secret: '%env(APP_SECRET)%'
    annotations: false
    http_method_override: false
    handle_all_throwables: true

    validation:
        enabled: true

    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax

    php_errors:
        log: true

when@test:
    framework:
        test: true

        # ➜ C’est ça qui manque !
        validation:
            enabled: true
            enable_attributes: true   # ← OBLIGATOIRE en environnement test

        session:
            storage_factory_id: session.storage.factory.mock_file

        # Débug non masqué pendant PHPUnit
        error_controller: null

    twig:
        exception_controller: null
