includes: []

parameters:
    level: 7

    paths:
        - src
        - tests

    tmpDir: var/cache/phpstan

    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml

    scanDirectories:
        - src

    excludePaths:
        analyse:
            - src/Kernel.php
            - src/DataFixtures/*
            - tests/bootstrap.php
